button {
    margin: 0 5px;
  }
  /* Estilo para los botones centrados y de color negro */
.btn-custom {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s;
}

.btn-custom:hover {
  background-color: #444; /* Color más claro al pasar el ratón */
}