<app-nav></app-nav>
<div class="d-flex">
  <app-vertical-nav></app-vertical-nav>
  <div class="container mt-5">
    <table class="table table-bordered table-striped tabla-estilizada">
      <thead>
        <tr>
          <th>ID</th>
          <th>Usuario ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Parentezco</th>
          <th>Documento</th>
          <th>Tipo Documento</th>
          <th>Celular</th>
          <th>Dirección</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let laboral of laborales">
          <td>{{ laboral.id }}</td>
          <td>{{ laboral.usuarios_id }}</td>
          <td>{{ laboral.nombre }}</td>
          <td>{{ laboral.apellido }}</td>
          <td>{{ laboral.parentezco }}</td>
          <td>{{ laboral.num_documento }}</td>
          <td>{{ laboral.tipo_documento_id }}</td>
          <td>{{ laboral.num_celular }}</td>
          <td>{{ laboral.num_direccion }}</td>
          <td>
            <button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#editModal" (click)="abrirFormularioEditar(laboral)">
              <i class="fa fa-pencil-alt"></i>
            </button>
            <button class="btn btn-danger me-2" (click)="eliminarLaboral(laboral.id)">
              <i class="fa fa-trash"></i>
            </button>
            <button class="btn btn-info" (click)="consultarLaboral(laboral.id)">
              <i class="fa fa-eye"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-center gap-3 mt-3">
      <button class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#createModal">Crear Registro</button>
      <button class="btn btn-custom" (click)="guardarCambios()">Guardar</button>
    </div>
  </div>
</div>

<!-- Modal CREAR -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear Registro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row g-3">
            <div class="col-md-6">
              <label>ID Usuario</label>
              <input type="number" class="form-control" [(ngModel)]="nuevoLaboral.usuarios_id" name="usuarios_id" />
            </div>
            <div class="col-md-6">
              <label>Nombre</label>
              <input type="text" class="form-control" [(ngModel)]="nuevoLaboral.nombre" name="nombre" />
            </div>
            <div class="col-md-6">
              <label>Apellido</label>
              <input type="text" class="form-control" [(ngModel)]="nuevoLaboral.apellido" name="apellido" />
            </div>
            <div class="col-md-6">
              <label>Parentezco</label>
              <input type="text" class="form-control" [(ngModel)]="nuevoLaboral.parentezco" name="parentezco" />
            </div>
            <div class="col-md-6">
              <label>Documento</label>
              <input type="text" class="form-control" [(ngModel)]="nuevoLaboral.num_documento" name="num_documento" />
            </div>
            <div class="col-md-6">
              <label>Tipo Documento</label>
              <select class="form-select" [(ngModel)]="nuevoLaboral.tipo_documento_id" name="tipo_documento_id">
                <option [value]="1">CC</option>
                <option [value]="2">TI</option>
                <option [value]="3">CE</option>
              </select>
            </div>
            <div class="col-md-6">
              <label>Celular</label>
              <input type="text" class="form-control" [(ngModel)]="nuevoLaboral.num_celular" name="num_celular" />
            </div>
            <div class="col-md-6">
              <label>Dirección</label>
              <input type="text" class="form-control" [(ngModel)]="nuevoLaboral.num_direccion" name="num_direccion" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-primary" (click)="crearLaboral()" data-bs-dismiss="modal">Crear</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal EDITAR -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Editar Registro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <div class="col-md-6">
            <label>Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="laboralSeleccionado.nombre" name="edit_nombre" />
          </div>
          <div class="col-md-6">
            <label>Apellido</label>
            <input type="text" class="form-control" [(ngModel)]="laboralSeleccionado.apellido" name="edit_apellido" />
          </div>
          <div class="col-md-6">
            <label>Parentezco</label>
            <input type="text" class="form-control" [(ngModel)]="laboralSeleccionado.parentezco" name="edit_parentezco" />
          </div>
          <div class="col-md-6">
            <label>Documento</label>
            <input type="text" class="form-control" [(ngModel)]="laboralSeleccionado.num_documento" name="edit_num_documento" />
          </div>
          <div class="col-md-6">
            <label>Celular</label>
            <input type="text" class="form-control" [(ngModel)]="laboralSeleccionado.num_celular" name="edit_num_celular" />
          </div>
          <div class="col-md-6">
            <label>Dirección</label>
            <input type="text" class="form-control" [(ngModel)]="laboralSeleccionado.num_direccion" name="edit_num_direccion" />
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="actualizarLaboral()" data-bs-dismiss="modal">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
