.container-fluid{
    justify-content: center;
   
    
}
.bg-custom {
    background-color: black; 
    color: white; 
  }
  
  .nav-link {
    color: white !important; 
    padding: 0.1rem 1rem; 
    font-size: 0.875rem; 
  }
  
  /* Estilo para el logo */
  .navbar-brand img {
    margin-right: 0.1rem; 
  }
  

  .nav-link:hover {
    color: #cccccc !important; 
  }
  .navbar {
    padding-top: 0.1rem; 
    padding-bottom: 0.1rem; 
}
.dropdown-menu {
  padding: 0.1rem;
}

.navbar-nav {
  margin-bottom: 0; 
}

  