h2 {
  font-style: italic;
  color: #ffffff;
}

.background {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.background .left-section {
  flex: 1;
  background-color: #101c3b; /* Azul oscuro */
  display: flex;
  align-items: center;
  justify-content: center;
}

.background .right-section {
  flex: 1;
  background: linear-gradient(to bottom right, #0f1e3a, #1a2a50); /* Degradado azul oscuro */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.05); /* Transparente con efecto suave */
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border: 2px solid #c62828; /* Rojo fuerte del camión */
  width: 100%;
  max-width: 400px;
  text-align: center;
  backdrop-filter: blur(6px);
}

.login-box input {
  margin-bottom: 1rem;
  background-color: #ffffffcc;
}

.login-box button {
  background-color: #f9a825; /* Amarillo/naranja cajas */
  border: none;
  color: #000;
  font-weight: bold;
}
