<app-nav></app-nav>
<div class="d-flex">
  <app-vertical-nav></app-vertical-nav>
  <div class="container mt-5">
    <div class="table-responsive">
      <table class="table table-bordered table-striped tabla-estilizada">
        <thead>
          <tr>
            <th>ID</th>
            <th>Placas</th>
            <th>Marca</th>
            <th>Propietario</th>
            <th>Cel. Propietario</th>
            <th>Dirección</th>
            <th>Ciudad</th>
            <th>Modelo/Anio</th>
            <th>Color</th>
            <th>SOAT</th>
            <th>Tecnomecánica</th>
            <th>GPS</th>
            <th>Usuario GPS</th>
            <th>Contraseña GPS</th>
            <th>Capacidad</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehiculo of vehiculos">
            <td>{{ vehiculo.id }}</td>
            <td>{{ vehiculo.num_placas }}</td>
            <td>{{ vehiculo.nom_marca_vehiculo }}</td>
            <td>{{ vehiculo.num_propietario_veh }}</td>
            <td>{{ vehiculo.num_propietario_cel }}</td>
            <td>{{ vehiculo.direc_propietario }}</td>
            <td>{{ vehiculo.ciudad_propietario }}</td>
            <td>{{ vehiculo.num_modelo_anio }}</td>
            <td>{{ vehiculo.color_vehiculo }}</td>
            <td>{{ vehiculo.fecha_vencimiento_soat }}</td>
            <td>{{ vehiculo.fecha_vencimiento_tecno }}</td>
            <td>{{ vehiculo.nom_satelital }}</td>
            <td>{{ vehiculo.usuario_satelital }}</td>
            <td>{{ vehiculo.contra_satelital }}</td>
            <td>{{ vehiculo.capacidad_carga }}</td>
            <td>
              <button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#editModal" (click)="abrirFormularioEditar(vehiculo)">
                <i class="fa fa-pencil-alt"></i>
              </button>
              <button class="btn btn-danger me-2" (click)="eliminarVehiculo(vehiculo.id)">
                <i class="fa fa-trash"></i>
              </button>
              <button class="btn btn-info" (click)="consultarVehiculo(vehiculo.id)">
                <i class="fa fa-eye"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-center gap-3 mt-3">
      <button class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#createModal">Crear Vehículo</button>
      <button class="btn btn-custom" (click)="guardarCambios()">Guardar</button>
    </div>
  </div>
</div>

<!-- Modal Editar Vehículo -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Vehículo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <div class="col-md-6" *ngFor="let campo of camposVehiculo">
            <label class="form-label text-capitalize">{{ campo.replace('_', ' ') }}</label>
            <input type="text" class="form-control" [value]="vehiculoSeleccionado[campo]" readonly>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
