<app-nav></app-nav>
<div class="d-flex">
  <app-vertical-nav></app-vertical-nav>
  
  <div class="container mt-5">
    <table class="table table-bordered table-striped tabla-estilizada">
      <thead>
        <tr>
          <th>ID Mercancía</th>
          <th>Remitente</th>
          <th>Destino</th>
          <th>Peso</th>
          <th>Unidades</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mercancia of mercancias">
          <td>{{ mercancia.id }}</td>
          <td>{{ mercancia.remitente }}</td>
          <td>{{ mercancia.destino }}</td>
          <td>{{ mercancia.peso }}</td>
          <td>{{ mercancia.unidades }}</td>
          <td>
            <button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#editModal" (click)="abrirFormularioEditar(mercancia)">
              <i class="fa fa-pencil-alt"></i>
            </button>
            <button class="btn btn-danger me-2" (click)="eliminarMercancia(mercancia.id)">
              <i class="fa fa-trash"></i>
            </button>
            <button class="btn btn-info" (click)="consultarMercancia(mercancia.id)">
              <i class="fa fa-eye"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center gap-3 mt-3">
      <button class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#createModal">Crear Mercancía</button>
      <button class="btn btn-custom" (click)="guardarCambios()">Guardar</button>
    </div>
  </div>
</div>


<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">Crear Mercancía</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="remitente" class="form-label">Remitente</label>
            <input type="text" class="form-control" id="remitente" placeholder="Ingrese el remitente" />
          </div>
          <div class="mb-3">
            <label for="destino" class="form-label">Destino</label>
            <input type="text" class="form-control" id="destino" placeholder="Ingrese el destino" />
          </div>
          <div class="mb-3">
            <label for="peso" class="form-label">Peso</label>
            <input type="number" class="form-control" id="peso" placeholder="Ingrese el peso" />
          </div>
          <div class="mb-3">
            <label for="unidades" class="form-label">Unidades</label>
            <input type="number" class="form-control" id="unidades" placeholder="Ingrese el número de unidades" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Crear Mercancía</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Editar Mercancía</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="editRemitente" class="form-label">Editar Remitente</label>
            <input type="text" class="form-control" id="editRemitente" [value]="mercanciaSeleccionada.remitente" readonly />
          </div>
          <div class="mb-3">
            <label for="editDestino" class="form-label">Editar Destino</label>
            <input type="text" class="form-control" id="editDestino" [value]="mercanciaSeleccionada.destino" readonly />
          </div>
          <div class="mb-3">
            <label for="editPeso" class="form-label">Editar Peso</label>
            <input type="number" class="form-control" id="editPeso" [value]="mercanciaSeleccionada.peso" readonly />
          </div>
          <div class="mb-3">
            <label for="editUnidades" class="form-label">Editar Unidades</label>
            <input type="number" class="form-control" id="editUnidades" [value]="mercanciaSeleccionada.unidades" readonly />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>