<app-nav></app-nav>
<div class="d-flex">
  <app-vertical-nav></app-vertical-nav>
  <div class="container mt-5">
    <div class="table-responsive">
      <table class="table table-bordered table-striped tabla-estilizada">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tipo of tiposDocumento">
            <td>{{ tipo.id }}</td>
            <td>{{ tipo.nombre }}</td>
            <td>{{ tipo.descripcion }}</td>
            <td>
              <button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#editModal" (click)="abrirFormularioEditar(tipo)">
                <i class="fa fa-pencil-alt"></i>
              </button>
              <button class="btn btn-danger me-2" (click)="eliminarTipo(tipo.id)">
                <i class="fa fa-trash"></i>
              </button>
              <button class="btn btn-info" (click)="consultarTipo(tipo.id)">
                <i class="fa fa-eye"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-center gap-3 mt-3">
      <button class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#createModal">Crear Tipo Documento</button>
      <button class="btn btn-custom" (click)="guardarCambios()">Guardar</button>
    </div>
  </div>
</div>

<!-- Modal Editar -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Editar Tipo Documento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="editNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="editNombre" [value]="tipoSeleccionado.nombre" readonly />
          </div>
          <div class="mb-3">
            <label for="editDescripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="editDescripcion" [value]="tipoSeleccionado.descripcion" readonly />
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

