<div class="login-container">
  <div class="login-card">
    <img src="assets/sox-logo.png" alt="SOX Logo" class="logo" />


    <h2>Bienvenido a SOX</h2>
    <p class="subtitle">Inicia sesión en tu cuenta</p>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <input
          type="text"
          placeholder="Usuario o Email"
          name="login"
          [(ngModel)]="loginData.login"
          required
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          placeholder="Contraseña"
          name="contrasena"
          [(ngModel)]="loginData.contrasena"
          required
        />
      </div>

      <button type="submit" [disabled]="!loginForm.valid">Ingresar</button>
    </form>

    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
</div>
