<nav class="navbar bg-custom flex-column h-100">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/usuarios']" routerLinkActive="router-link-active">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/proveedores']" routerLinkActive="router-link-active">Proveedores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/productos']" routerLinkActive="router-link-active">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/r-personales']" routerLinkActive="router-link-active">r-personales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/r-laborales']" routerLinkActive="router-link-active">r-laborales</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/mercancias']" routerLinkActive="router-link-active">Mercancías</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/despachos']" routerLinkActive="router-link-active">Despachos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/vehiculos']" routerLinkActive="router-link-active">Vehículos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/entregas']" routerLinkActive="router-link-active">Entregas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/devoluciones']" routerLinkActive="router-link-active">Devoluciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/seguimientos']" routerLinkActive="router-link-active">Seguimientos</a>
      </li><li class="nav-item">
        <a class="nav-link" [routerLink]="['/tipos-pago']" routerLinkActive="router-link-active">Tipos de pago</a>
      </li><li class="nav-item">
        <a class="nav-link" [routerLink]="['/tipos-rol']" routerLinkActive="router-link-active">Tipos de rol</a>
      </li><li class="nav-item">
        <a class="nav-link" [routerLink]="['/tipo-documento']" routerLinkActive="router-link-active">Tipo documento</a>
      </li>
    </ul>
  </nav>
