<div class="background">
  <!-- Sección izquierda -->
  <div class="container-fluid d-flex flex-row vh-100">
      <!-- División izquierda -->
      <div class="left-section d-flex align-items-center justify-content-center w-50">
        <img src="imagenes/soxlogo.png" alt="SoxLogo" width="400px" height="400px"/>
      </div>
 
      <!-- División derecha -->
      <div class="right-section d-flex align-items-center justify-content-center w-50">
        <div class="login-box text-center">
          <h2>Inicio de Sesión</h2>
          <div class="form-group">
              <label for="username"></label>
              <input type="text" id="username" class="form-control" placeholder="Usuario" />
            </div>
            <div class="form-group">
              <label for="password"></label>
              <input type="password" id="password" class="form-control" placeholder="Contraseña" />
            </div>
            <button class="btn btn-primary mt-3" [routerLink]="['/login']" routerLinkActive="router-link-active">Ingresar</button>
          <!-- Aquí puedes añadir el formulario -->
        </div>
      </div>
    </div>
</div>

