<app-nav></app-nav>
<div class="d-flex">
  <app-vertical-nav></app-vertical-nav>
  
  <div class="container mt-5">
    <table class="table table-bordered table-striped tabla-estilizada">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Proveedor</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoria of categorias">
          <td>{{ categoria.id }}</td>
          <td>{{ categoria.nombre }}</td>
          <td>{{ categoria.proveedor }}</td>
          <td>
            <button class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#editModal" (click)="abrirFormularioEditar(categoria)">
              <i class="fa fa-pencil-alt"></i>
            </button>
            <button class="btn btn-danger me-2" (click)="eliminarCategoria(categoria.id)">
              <i class="fa fa-trash"></i>
            </button>
            <button class="btn btn-info" (click)="consultarCategoria(categoria.id)">
              <i class="fa fa-eye"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center gap-3 mt-3">
      <button class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#createModal">Crear Categoría</button>
      <button class="btn btn-custom" (click)="guardarCambios()">Guardar</button>
    </div>
  </div>
</div>


<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">Crear Categoría</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre" />
          </div>
          <div class="mb-3">
            <label for="proveedor" class="form-label">Proveedor</label>
            <input type="text" class="form-control" id="proveedor" placeholder="Ingrese el proveedor" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Crear Categoría</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Editar Categoría</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="editNombre" class="form-label">Editar Nombre</label>
            <input type="text" class="form-control" id="editNombre" [value]="categoriaSeleccionada.nombre" readonly />
          </div>
          <div class="mb-3">
            <label for="editProveedor" class="form-label">Editar Proveedor</label>
            <input type="text" class="form-control" id="editProveedor" [value]="categoriaSeleccionada.proveedor" readonly />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>