<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
					 android:maxSdkVersion="28"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
					 android:maxSdkVersion="28"/>
	<application
			android:allowBackup="true"
			android:dataExtractionRules="@xml/data_extraction_rules"
			android:fullBackupContent="@xml/backup_rules"
			android:label="@string/app_name"
			android:supportsRtl="true"
			android:theme="@style/Theme.AppInterface"
			tools:targetApi="31">
		<!-- primera Actividad -->
		<activity
				android:name=".Actividades.Login.LoginActivity"
				android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".Actividades.Main.MainActivity"
				  android:exported="true">
		</activity>

		<!-- Segunda actividad -->

		<activity android:name=".Actividades.Usuarios.UsuariosActivity"
				  android:exported="true">
		</activity>
		<activity android:name=".Actividades.Proveedores.ProveedoresActivity"
				  android:exported="true">
		</activity>
		<activity android:name=".Actividades.Mercancias.MercanciasActivity"
				  android:exported="true">
		</activity>
		<activity android:name=".Actividades.Despachos.DespachosActivity"
				  android:exported="true">
		</activity>
		<activity android:name=".Actividades.Entregas.EntregasActivity"
				  android:exported="true">
		</activity>
		<activity android:name=".Actividades.Devoluciones.DevolucionesActivity"
				  android:exported="true">
		</activity>
		<activity android:name=".Actividades.Seguimientos.SeguimientosActivity"
				  android:exported="true">
		</activity>
		<activity android:name=".Actividades.TipoPago.TipoPagoActivity"
				  android:exported="true">
		</activity>
		<activity android:name=".Actividades.Usuarios.UsuarioFormActivity"
				  android:exported="true">
		</activity>
		<activity android:name=".Actividades.Usuarios.UsuarioDetalleActivity"
				  android:exported="true">
		</activity>
		<activity android:name=".Actividades.Entregas.EntregaDetalleActivity"
				  android:exported="true">
		</activity>
		<activity android:name=".Actividades.Entregas.EntregaFormActivity"
				  android:exported="true">
		</activity>
		<activity android:name=".Actividades.Devoluciones.DevolucionDetalleActivity"
				  android:exported="true">
		</activity>
		<activity android:name=".Actividades.Devoluciones.DevolucionFormActivity"
							 android:exported="true">
	</activity>
		<activity android:name=".Actividades.Proveedores.ProveedorFormActivity"
				  android:exported="true">
		</activity>
		<activity android:name=".Actividades.Proveedores.ProveedorDetalleActivity"
				  android:exported="true">
		</activity>
		<activity android:name=".Actividades.Mercancias.MercanciaDetalleActivity"
				  android:exported="true">
		</activity>
		<activity android:name=".Actividades.Mercancias.MercanciaFormActivity"
				  android:exported="true">
		</activity>
		<activity android:name=".Actividades.Despachos.DespachoDetalleActivity"
				  android:exported="true">
		</activity>
		<activity android:name=".Actividades.TipoPago.TipoPagoDetalleActivity"
				  android:exported="true">
		</activity>
		<activity android:name=".Actividades.Seguimientos.SeguimientoDetalleActivity"
				  android:exported="true">
		</activity>







	</application>

</manifest>